* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
body {
  background: #eeeeee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  background: #fff;
  display: flex;
}

.box {
  height: 100px;
  min-width: 100px;
  float: left;
}

.one {
  background: red;
  flex-grow: 1;
}

.two {
  background: blue;
  flex-grow: 5;
}

.three {
  background: green;
  flex-grow: 1;
}
