* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
body {
  background: #eeeeee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* Menu Base Style */

nav {
  background: #333333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
}

nav a:hover {
  background: #555;
}

/* Flex Style */

@media screen and (min-width: 768px) {
  /* Flex Container */
  nav ul {
    display: flex;
    justify-content: flex-start;
  }

  /* Flex Items */
  nav li {
    flex: 1 1 0;
  }
}
